// RESETTING 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li,
a,
select,
menu {
    list-style: none;
    text-decoration: none;
    color: currentColor;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    // SOLO AI FINI DELL' ESERCIZIO CHE NON DEVE ESSERE RESPONSIVE 
    min-width: 1515px;
    min-height: 1080px;
    overflow-x: auto;
}

img,
figure {
    width: 100%;
    display: block;
}

.logo-main {
    width: 160px;
    height:100%;
    display: block;
}

h1,h2,h3 {
    text-align: center;
}

// UTILITY AND A BOOTSRAP BE LIKE COL ROW SYSTEM

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 700px;
    margin: 0 auto;
}

.container-mid{
    width: 1100px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-1 {
    flex-basis: calc((100%/12)*1);
}

.col-2 {
    flex-basis: calc((100%/12)*2);
}

.col-3 {
    flex-basis: calc((100%/12)*3);
}

.col-4 {
    flex-basis: calc((100%/12)*4);
}

.col-5 {
    flex-basis: calc((100%/12)*5);
}

.col-6 {
    flex-basis: calc((100%/12)*6);
}

.col-7 {
    flex-basis: calc((100%/12)*7);
}

.col-8 {
    flex-basis: calc((100%/12)*8);
}

.col-9 {
    flex-basis: calc((100%/12)*9);
}

.col-10 {
    flex-basis: calc((100%/12)*10);
}

.col-11 {
    flex-basis: calc((100%/12)*11);
}

.col-12 {
    flex-basis: calc((100%/12)*9);
}

.ds-flex {
    display: flex;
}

.fl-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

.a-self-center {
    align-self: center;
}

.gap-20 {
    gap: 20px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

// GENERAL STYLES 

.pseudo-button {
    background-color: rgb(255, 223, 238);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    border-radius: 2rem;
    color: black;
    font-weight: 500;
}

.subtitle {
    color: white;
    font-weight: 500;
}